body {
    font-family: 'Nunito', sans-serif;
}

.osas {
    padding: 20px;
    margin-left: 30px;
}

nav a {
    padding: 10px;
}

.border-1 {
    border-width: .07rem;
}

.form div {
    margin-bottom: 15px;
}

.form div>input {
    display: black;
}

.form div>button {
    padding: 5px;
}
